/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
}

main {
  z-index: 10;
  position: relative;
  background-color: #eff1f3;
  padding-bottom: 2rem;
}

main.hidden-footer {
  /*margin-bottom: 360px;*/
  margin-bottom: 55px;
}

a,
.btn,
.dropdown-item {
  font-weight: 500;
}

:disabled {
  cursor: default;
}

#popular .card.popular-city-card {
  background-size: cover !important; 
  background-position: center center; 
  background-color: rgba(0, 59, 121,0.65);
  overflow: hidden;
  transition: all .25s ease-in;
}

#popular .card.popular-city-card img.card-bg-img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  /*width: auto;*/
  width: 100%;
  border-radius: 5px;
  transform: scale(1.1) rotate(0);
  transition: all .25s ease-out;
}

#popular .card.popular-city-card .card-body {
color: #ffffff;
}

#popular .card.popular-city-card:hover {
  background: rgba(0,0,0,.75) !important;
  transition: all .25s ease-in;
}

#popular .card.popular-city-card:hover img.card-bg-img {
  transform: scale(1.25) rotate(-5deg);
  transition: all .25s ease-in;
}

#popular .card.popular-city-card:hover .card-body {
  color: #87beea;
}

.popular-city-card .card-body {
    min-height: 200px;
  }

#popular .city-state-name {
  font-size: .9rem;
  font-weight: 500;
  line-height: .7rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #fff;
  margin-bottom: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #2176bd;
}

.dropdown-item.text-danger:hover,
.dropdown-item.text-danger:focus {
    color: #ffffff !important;
    text-decoration: none;
    background-color: #e3342f !important;
}

.dropdown-item.text-primary:hover {
  color: #ffffff !important;
}

label:not(.btn) {
  font-size: 70%;
  opacity: .6;
}

.custom-switch label {
  font-size: 100%;
  font-weight: 600;
  opacity: 1;
}

.accordion .card-header {
  cursor: pointer;
}

.accordion .card-header[aria-expanded=true] {
  color: #fff;
  background-color: #227dc7;
}

.accordion .card-header[aria-expanded=false] {
  background-color: #e2e6e9;
}

footer {
  /*padding-top: 5rem;
  padding-bottom: 3rem;*/
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

footer .container {
  /*height: calc(300px - 6rem);*/
  height: auto;
}

.footer-logo {
  display: inline-block;
  margin-right: 1rem;
}

#admin-header {
  background-color: #227dc7 !important;
}

.navbar-opacity {
  background-color: rgba(52, 58, 64, 0.8) !important;
}

.navbar-transparent {
  background: transparent !important;
  transition: all .15s linear;
}

body.nav-open .navbar-transparent {
  background: #343a40 !important;
  transition: all .15s linear;
}

body.nav-open .navbar {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

body.nav-open .open-nav-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 15;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.25);
}

.navbar-brand .brand-logo-svg {
  width: 45px;
  height: 25px;
  margin-right: .75rem;
}

.navbar-toggler {
  padding: 0.125rem 0.5rem;
}

.navbar-dark .navbar-toggler {
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); 
}

.navbar-dark .navbar-toggler:hover {
  /*border: 2px solid rgba(255, 255, 255, 1);*/
  background-color: rgba(52, 144, 220, 0.25);
}

.navbar-dark .navbar-toggler:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); 
}

.footer-logo-wrapper .brand-logo-svg {
  width: 45px;
  height: 25px;
  margin-right: .75rem;
}

.menu-padding {
  padding-top: 75px;
}

.h-separator {
  position: relative;
  display: block;
  height: 1px;
  width: 97%;
  background: #f1f2f2;
  margin: 1.25rem auto 1.75rem;
}

.v-separator {
  position: relative;
  display: inline-block;
  height: 80%;
  width: 1px;
  background: #d4d6d6;
  margin: 1px 1.5rem 0;
}

.section-title {
  position: relative;
  display: inline-block;
  margin: 0 auto 2.5rem;
  padding: .75rem 0 2rem;
  line-height: 1.2;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid;
}

.section-title-state-link {
  color: #3490dc;
  background-color: #d9e2e9;
  border-color: #d9e2e9;
  padding: 0 .125em;
  border-radius: 3px;
  text-decoration: none;
}

.section-title-state-link:hover {
  text-decoration: none;
  color: #fff;
  background-color: #227dc7;
  border-color: #2176bd;
  box-shadow: 0 10px 20px rgba(33, 121, 193, 0.19), 0 6px 6px rgba(33, 121, 193, 0.23);
}

.center-within {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.coming-soon-container {
  padding-top: 4rem;
}

.coming-soon-text-wrapper {
  border-left: 4px solid #3490dc;
  padding-left: 1rem;
  margin: 2rem auto;
  max-width:800px;
}
.coming-soon-text-wrapper p:first-of-type {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: .25rem;
}
.coming-soon-text-wrapper p {
  font-size: 1rem;
  font-style: italic;
}

.notify-jumbotron {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto 2rem;
}



/* DROPZONE
-------------------------------------------------- */
.dropzone {
  border: 3px dotted rgba(0, 0, 0, 0.15);
/*  padding: 20px 20px;*/
  border-radius: 5px;
}

.dropzone .dz-message {
  text-align: center;
  margin: 2.85em 0;
}


/* DISCOUNT CARD
-------------------------------------------------- */
#stateBlock {
  display:block;
  position:relative;
  padding-bottom: 2rem;
}

#stateBlock ul.city-list {
  padding: 0 20px;
  column-count:5; 
  column-gap:7.5%; 
  column-width:14%;
}



/* DISCOUNT CARD
-------------------------------------------------- */
#discountCard {
  width: 500px;
  height: 290px;
  margin: 0 auto;
}

.discount-card .card-header {
  padding: 0.5rem 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.discount-card .card-header .ldc-card-logo {
  margin-right: .25rem;
  display: inline-block;
  width: 35px;
  float: left;
  margin-top: 3px;
}

.discount-card .card-header .ldc-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .95rem;
  line-height: 1.1rem;
  padding: 6px 5px 0px;
  display: inline-block;
}

.discount-card .card-header .city-name {
  display: inline-block;
  padding-top: 4px;
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.discount-card .discount-block {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 62px;
  margin: 0;
  padding: 3px 4.85px;
  /*background-color: #f4f4f4;*/
  text-align: center;
}

.discount-card .discount-block:nth-last-child(n+6) {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.discount-card .discount-block:not(:nth-of-type(5n+5)) {
  border-right: 1px solid rgba(0,0,0,0.1);

}


.discount-card .discount-block .discount-logo {
  font-size: 8px;
  line-height: 1rem;
  padding: 4px 8px;
  height: 22px;
}

.discount-card .discount-block .discount-logo img {
  margin: 0 auto;
  max-height: 18px;
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}

.discount-card .discount-block .discount-logo .business-name {
  margin: 0 -3px;
}

.discount-card .discount-title {
  font-size: .7rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: .65rem;
  padding-top: 2px;
}

.discount-card .card-footer {
  padding: 0.5rem 1.25rem .75rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.discount-card .card-footer .site-domain {
  font-size: .75rem;
  font-weight: 600;
  color: #3490dc;
  letter-spacing: 1px;
  margin-bottom: 0;
  padding-bottom: 6px;
}

.discount-card .card-footer p {
  /*line-height: .6rem;*/
  line-height: .4rem;
}

.discount-card .card-footer p small {
  font-size: 8px;
}


/* Menus
-------------------------------------------------- */
.user-menu {
  width: 250px;
  padding: 20px;
}

.user-menu .profile-img {
  display: block;
  width: 50px;
  height: 50px;
}

.user-menu .profile-img .profile-letter {
  display: block;
  font-size: 2em;
  text-align: center;
  width: 100%;
  color: #fff;
}

.user-menu .profile-name {
  margin-left: -15px;
  font-size: 1.1rem;
  font-weight: 400;
}

.user-menu .profile-email {
  margin-left: -15px;
  font-size: .75rem;
  font-weight: 400;
  letter-spacing: .25px;
  color: #999;
}


/* Submenu
-------------------------------------------------- */
.submenu {
  display: block;
  /*text-align: right;*/
}

.submenu li.nav-item {
  margin-left: .15rem;
  vertical-align: middle;
}


/* CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  /*margin-bottom: 3rem;*/
}

.carousel-item > .container {
  position:relative;
  height: 100%;
  margin-top: 3.25rem;
  padding: 2.5rem;
  color: #ffffff;
}

#cityCarousel .carousel-item > .container {
  padding: 0.75rem;
}

.carousel-item .carouse-graphic-wrapper.large {
  border-radius: 1.5rem;
  box-shadow: 0 0px 24px -6px rgba(0,0,0,.6);
}

.carousel-item .carousel-graphic-wrapper.large .brand-logo-svg {
  border: 6px solid rgba(255,255,255,0.4);
  border-radius: 1.5rem;
}

.z-10 {
  z-index: 10 !important;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 4rem;
  z-index: 10;
  left: unset;
  right: 9%;
}

.carousel-item p.city-header-text {
  font-size: 3rem;
}

.carousel-item p.display-4
.carousel-item p.lead {
  text-shadow: 0 0 12px #000000;
}

.carousel-graphic-wrapper .flipInY,
.discount-card-wrapper .flipInY {
  animation-name: unset;
  -webkit-animation-name: unset;
}
.carousel-graphic {
  bottom: 4rem;
  position: absolute;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 40vh;
  min-height: 450px;
}

#cityCarousel .carousel-item {
  height: 224px;
  min-height: 224px;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
.img-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}


/* Signup
-------------------------------------------------- */
.signup-container {
  padding-top: 3rem;
}

.signup-container .discount-card-wrapper.sticky-top {
  top: 3.75rem;
  margin-bottom: 3rem;
}

.card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.075);
}


/* City Cards
-------------------------------------------------- */

.card {
  border: none;
}

.city-card-card-flip {
  perspective: 1000px;
  &:hover .flip,
  &.hover .flip {
    transform: rotateY(180deg);
  }
}

.city-card-card-flip,
.city-card-front,
.city-card-back {
  width: 100%;
  height: 480px;
}

.city-card-flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.city-card-front,
.city-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.city-card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.city-card-back {
  transform: rotateY(180deg);
}

.business-logo {
  width: 100%;
  height: 134px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.business-logo h3 {
  top: 40%;
  display: block;
  position: relative;
}

.city-card-tile {
  width: 100%;
  background:#fff;
  border-radius:5px;
  box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
  float:left;
  transform-style: preserve-3d;
  margin: 0 0 .75rem;
}

.city-card-header {
  border-bottom:1px solid #ebeff2;
  padding:19px 0;
  text-align:center;
  color:#59687f;
  font-size:600;
  font-size:19px;
  position:relative;
  min-height: 150px;
}

.city-card-header h4.active-city::before {
  position:relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: green;
  left: -15px;
  content: " ";
}

.city-card-tile .active-city-badge {
  display: block;
  position: absolute;
  background-color: rgb(4, 255, 4);
  color: #000;
  border-radius: 12px;
  font-size: 10px;
  font-weight: 700;
  width: 70px;
  text-align: center;
  left: calc(50% - 35px);
  top: -7px;
  border: 3px solid #ffffff;
  box-shadow: 0 -3px 5px -3px rgba(0,0,0,.2);
}

.city-card-header .display-1 {
  line-height: 0.9;
}

.city-card-header .display-2 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
}

.city-card-dates strong,
.city-card-stats strong {
  display:block;
  color:#adb8c2;
  font-size:11px;
  font-weight:700;
}

.city-card-stats {
  background:#f7f8fa;
  overflow:auto;
  padding:15px 0;
  font-size:16px;
  color:#59687f;
  font-weight:600;
  border-radius: 0 0 5px 5px;
}

.city-card-stats div {
  border-right:1px solid #ebeff2;
  width: 33.33333%;
  float:left;
  text-align:center;
  text-transform: uppercase;
}

.city-card-stats.halfed div {
  border-right:1px solid #ebeff2;
  width: 50%;
}

.city-card-stats.quad div {
  border-right:1px solid #ebeff2;
  width: 25%;
}

.city-card-stats.quad div:nth-of-type(4),
.city-card-stats:not(.quad) div:nth-of-type(3),
.city-card-stats.halfed div:nth-of-type(2) {
  border:none;
}

.hover-card {
  position: relative;
  display: block;
}

.card-hover:hover .hover-card .card-top {
  /*margin-top: -65px;*/
  transition: all .25s ease-in;
}

.card-hover:hover .hover-card .card-top .city-card-tile {
  /*box-shadow: 0 10px 20px rgba(0,0,0,0.11), 0 6px 6px rgba(0,0,0,0.07);*/
  transition: all .25s ease-in;
}

.business-card .city-card-wrapper a > div {
  /*transform: rotate(0deg) scale(1) translateY(0);
  transition: all .2s ease-in;*/
}

.business-card .city-card-wrapper a:hover > div {
  /*transform: rotate(-1deg) scale(1.3) translateY(15px);
  transition: all .2s ease-out;*/
}

.business-card .city-card-menu {
  position:absolute;
  top: .5rem;
  right: .5rem;
  z-index:100;
  background-color: transparent;
  border-radius: 5px;
}

.business-card .city-card-menu:hover {
  background-color: #eee;
  transition: all .15s ease-in;
}

.city-card-menu button {

}

.city-card-menu button:focus {
  outline: none;
  box-shadow: none;
  background-color: #e1e1e1;
  border-radius: 5px;
}

.city-card-menu .dropdown-menu {
  min-width: 110px !important;
}

.city-card-menu .dropdown-menu a.dropdown-item {
  padding: .5rem 1.5rem;
  border-radius: 5px;
  transition: all .15s ease-out;
}

.city-card-menu .dropdown-menu a.dropdown-item:hover {
  background: #eee;
  transition: all .15s ease-in;
}

.city-card-menu .dropdown-menu a.dropdown-item.btn-delete:hover {
  color: #e3342f;
  background-color: #fde7e6;
  transition: all .15s ease-in;
}

.city-card-menu .dropdown-menu a.dropdown-item:not(::last-of-type) {
  margin-bottom: .35rem;
}

.card-top {
  z-index: 10;
  position: relative;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  transition: all .25s ease-out;
}


/* PAGINATION
-------------------------------------------------- */
/* Styles associated with pagination */

.pagination .page-item .page-link {
  border-radius: 5px;
  border: none;
}

.pagination .page-item:not(::last-of-type) {
  margin-right: .5rem;
}

.pagination .page-item.active {
  margin: 0 .75rem;
}

.pagination .page-item.break {
  margin-right: 0;
  margin-left: -0.5rem;
}

.pagination .page-item.page-nav {

}

.pagination .page-item.page-nav .page-link {
  padding: 0 1rem .3rem;
  font-size: 1.45rem;
}

.pagination .page-item:not(.active) .page-link {
  background-color: transparent;
  border: none;
  box-shadow: none;
  transition: all .1s ease-out;
}

.pagination .page-item:not(.active):not(.break) .page-link:hover {
  z-index: 3;
  color: #fff;
  background-color: #3490dc;
  border-color: #3490dc;
  transition: all .2s ease-in;
}

.pagination .page-item.active .page-link {
  box-shadow: 0 10px 20px rgba(33, 121, 193, 0.19), 0 6px 6px rgba(33, 121, 193, 0.23);
  transform: scale(1.15);
  cursor: default;
}

.pagination .page-item.disabled .page-link:hover {
  cursor: not-allowed;
}


/* BUTTONS
-------------------------------------------------- */
.btn-sm:not(.nav-link),
.btn-group-sm > .btn {
  padding: 0.25rem 0.75rem;
}

.btn-primary.btn-badge,
.logout-btn,
.settings-btn:hover {
  color: #3490dc;
  background-color: #d9e2e9;
  border-color: #d9e2e9;
}

.btn-primary.btn-badge:hover,
.logout-btn:hover {
  color: #fff;
  background-color: #227dc7;
  border-color: #2176bd;
}

.btn-primary.btn-badge:not(label):(disabled):hover {
  box-shadow: 0 10px 20px rgba(33, 121, 193, 0.19), 0 6px 6px rgba(33, 121, 193, 0.23);
}

.btn-secondary.btn-badge {
  color: #6c757d;
  background-color: #d2d5d8;
  border-color: #d2d5d8;
}
.btn-secondary.btn-badge:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  box-shadow: 0 10px 20px rgba(108, 117, 125, 0.19), 0 6px 6px rgba(108, 117, 125, 0.23);
}
.btn-secondary.btn-badge.no-hover-change:hover {
  color: #6c757d;
  background-color: #d2d5d8;
  border-color: #d2d5d8;
  box-shadow: none;
}

.btn-info.btn-badge {
  color: #3e9be5;
  background-color: #d4e9f9;
  border-color: #cbe4f8;
}

.btn-info.btn-badge:hover:not(:disabled):not(.active) {
  color: #fff;
  background-color: #6cb2eb;
  border-color: #6cb2eb;
}

.btn-danger.btn-badge {
  color: #e3342f;
  background-color: #fde7e6;
  border-color: #fde7e6;
}

.btn-danger.btn-badge:hover:not(:disabled) {
  color: #fff;
  background-color: #d0211c;
  border-color: #c51f1a;
}

.btn-danger.btn-badge:hover:not(:disabled):not(label) {
  box-shadow: 0 10px 20px rgba(227, 55, 50, 0.19), 0 6px 6px rgba(227, 55, 50, 0.23);
}

.logout-btn,
.settings-btn {
  border-radius: 5px;
}

.user-menu-link {
  border-radius: 5px;
}

.user-menu-link:hover {
  color: #3490dc;
  background-color: #d9e2e9;
  border-color: #d9e2e9;
}

.settings-btn {
  text-align: center;
  padding: 0.25rem;
  background-color: transparent;
  transition: all .15s ease-in;
}

.settings-btn:hover {

}



/* Radio Block
-------------------------------------------------- */

.radio-block {
  width: 100%;
  text-align: center;
}
.radio-block input[type="radio"] {
  display: none;
}
.radio-block label {
  opacity: 1;
}
.radio-block label:not(:last-of-type) {
  margin-right: 20px;
}
.radio-block input[type="radio"]:checked + .radio-block-box {
  background-color: #3490dc;
}
.radio-block input[type="radio"]:checked + .radio-block-box span {
  color: #ffffff;
  transform: translateY(20px);
  font-weight: 600;
}
.radio-block input[type="radio"]:checked + .radio-block-box span:before {
  transform: translateY(0px);
  opacity: 1;
}
.radio-block .radio-block-box {
  width: 220px;
  height: 100px;
  background-color: #e7edf1;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.radio-block .radio-block-box:active {
  transform: translateY(10px);
}
.radio-block .radio-block-box span {
  position: absolute;
  transform: translate(0, 5px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.65em;
  user-select: none;
  color: #77b5e8;
}
.radio-block .radio-block-box span:before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: #d9e2e9;
}
.radio-block .link span:before {
  content: '\f0c1';  /*Link Icon*/
}
.radio-block .remove span:before {
  content: '\f127';  /*Unlink Icon*/
}




/* Business Details
-------------------------------------------------- */
.business-details {
  position: sticky;

}

.business-details.sticky-top {
  top: 5rem;
}

.business-details .logo-block {
  height: 250px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: .5rem;
  text-align: center;
  margin: 0 0 1.5rem;
  background-color: rgba(0, 0, 0, 0.02);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.business-details .logo-block img {
  /*position: relative;
  max-width: 100%;*/
/*  width: 300px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;*/
  max-width: 100%;
}

.discounts-callout {
  background-color: #184569;
  border-color: #184569;
  color: #f4f4f4;
}

.discounts-callout .card-body,
.success-callout .card-body {
  padding: 1.25rem 2.5rem;
}

.discounts-callout .count-title {
  font-weight: 300;
}

.discounts-callout .sub-text {
  color: #51b1ff;
}

.success-callout {
  background-color: #6ff098;
  border-color: #6ff098;
  color: #0c732d;
}


/* Discount Preview
-------------------------------------------------- */

.discount-preview-wrapper {
  display: block;
  min-height: 600px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  width: 380px;
  height: auto;
}

.discount-preview-window {
  position: relative;
  display: block;
  height: auto;
  overflow: hidden;
  background: #ffffff;
  text-align: center;
}

.discount-preview-window .begins_at {
  padding: .65rem;
  font-weight: 400;
  color: #227dc7;
}

.discount-preview-window .begins_at .discount-begins_at-preview {
  display: inline-block;
}

.discount-preview-window .discount-code-preview {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  display: inline-block;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.discount-preview-window .discount-title-preview {
  margin: 1rem 3rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.discount-preview-window .discount-description-preview {
  font-size: 1rem;
  margin: 0 40px;
  line-height: 1;
}

.discount-preview-window .expires_at {
  display: block;
  padding-bottom: 1rem;
  right: 0;
  bottom: 0;
  left: 0;
  font-weight: 700;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
}

.discount-preview-window .expires_at .discount-expires_at-preview {
  display: inline-block;
}

.discount-preview-window .call_to_action {
  padding: 2.5rem 2rem 1.5rem;
}

.discount-preview-window .call_to_action .discount-call_to_action-preview {

}

.discount-preview-window .discount-terms-preview {
  display: block;
  margin: 1rem 0;
  padding: 0 2rem;
  height: auto;
  text-align: left;
  font-size: .7rem;
  font-weight: 400;
  letter-spacing: -.0125rem;
  line-height: .95rem;
  color: #777;
}

.discount-preview-window .business-logo-wrapper .business-logo {
  height:auto;
  margin: 1rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discount-preview-window .business-logo-wrapper .business-logo img {
  max-height: 100px;
  max-width: 90%;
}

.discount-preview-window .business-logo-wrapper .business-logo span.business-logo-name {
  display: block;
  font-size: 3rem;
  line-height: 2.75rem;
  padding-bottom: 1rem;
}

#disc_cta {
  background: #e9ebec;
  border-radius: 5px;
}



/* Shadows
-------------------------------------------------- */

.shadow-1,
.shadow-1-on-hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-2,
.shadow-2-on-hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3,
.shadow-3-on-hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4,
.shadow-4-on-hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5,
.shadow-5-on-hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.09), 0 15px 12px rgba(0,0,0,0.03);
}



/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}



/* RESPONSIVE CSS
-------------------------------------------------- */
#cityRequestFormModal .modal-content {
overflow: hidden;
border-radius: 7px;
}

#cityRequestFormModal .city-request-bg-img-wrapper {
  display: block;
  position: relative;
  min-height: 400px;
  width: 100%;
}

#cityRequestFormModal .city-request-bg-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/storage//images/city/israel-sundseth-BYu8ITUWMfc-unsplash.jpg);
  background-size: cover; 
  background-position: center;
}

#cityRequestFormModal .close {
  color: #ffffff;
  opacity: .5;
  transition: all .25s ease-out;
}

#cityRequestFormModal .close:hover {
  opacity: 1;
  transition: all .25s ease-in;
}

#cityRequestFormModal .request-form-modal-title {
  padding: .5rem .0125rem;
  line-height: .8;
  font-weight: 600;
  text-shadow: 0px 0 16px #000000;
}

#cityRequestFormModal .request-form-modal-subtitle {
  padding: 0 .0125rem;
/*  line-height: .8;
  font-weight: 600;
  text-shadow: 0px 0 16px #000000;*/
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/*@media (max-width: 767px) {
  #stateBlock ul.city-list {
    padding: 0 20px;
    column-count:1; 
    column-width:90%;
  }
}*/

@media (min-width: 767px) and (max-width: 1024px) {
  main > .container {
    max-width: 88%;
  }
  .carousel-item {
    min-height: 412px;
  }
  .carousel-item > .container {
    padding: 2rem .5rem;
  }
  .carousel-item p.display-4 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .carousel-item p.lead {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .carousel-item p.lead strong {
    display: block;
    padding: 1rem 0;
    font-weight: 600;
  }
  #cityCarousel .city-header-text {
    padding-top: .5rem;
  }
  #popular > .container {
    max-width: 88%;
  }
  #popular .card.popular-city-card .card-body {
    min-height: 100px;
  }
  .popular-city-card h1.city-name {
    font-size: 1.75rem;
  }
  .coming-soon-container {
    padding-top: 2rem;
  }
  .coming-soon-text-wrapper {
    margin: 0 auto 2rem;
  }
  .notify-jumbotron {
    padding: 2rem;
  }
  #city-faq .faq > .container {
    max-width: 88%;
  }
}

@media (min-width: 576px) and (max-width: 766px) {
  .carousel-item {
    height: 35vh;
    min-height: 400px;
  }
  .carousel-item > .container {
    padding: 2.5rem .5rem;
  }
  .carousel-item p.display-4 {
    font-size: 1.85rem;
    font-weight: 400;
  }
  .carousel-item p.lead {
    font-size: .85rem;
    line-height: 1.25rem;
  }
  .carousel-item p.lead strong {
    display: block;
    padding: 1rem 0;
    font-weight: 600;
  }
  #popular > .container {
    max-width: 90%;
  }
  .popular-city-card .card-body {
    height: 100px;
    min-height: 100px;
    /*min-height: 200px;*/
  }
  .popular-city-card .card-body h1.city-name {
    font-size: 1.5rem;
  }
  .business-logo {
    height: 60px;
  }
  .business-logo h3 {
    font-size: 1rem;
    top: 22%;
  }
  #stateBlock ul.city-list {
    padding: 0 20px;
    column-count:3; 
    column-gap: 5%;
    column-width:30%;
  }
}

@media (max-width: 576px) {
  .navbar > .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-toggler {
    padding: .125em .25em;
    font-size: 1rem;
  }
  .carousel-inner {
    /*padding-bottom: 2rem;*/
  }
  .carousel-item {
    min-height: 100vh;
    height: auto;
  }
  #cityCarousel .carousel-item {
    height: auto;
    min-height: 185px;
  }
  .carousel-graphic-wrapper {
    margin-bottom: 1rem;
  }
  .carousel-item a.btn {
    display: block;
  }
  .carousel-item .display-4 {
  }
  .carousel-item p.city-header-text {
     font-size: 2rem;
     padding-top: 1rem;
  }
  .carousel-item p.display-4 {
    font-size: 2.125rem;
    font-weight: 500;
  }
  .carousel-item p.lead {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .carousel-item p.lead br {
    padding-top: 15px;
  }
  .carousel-item p.display-4,
  .carousel-item p.lead {
    text-align: center;
    text-shadow: 0 0 24px rgba(0,0,0,1);
  }
  .carousel-item p.lead strong {
    display: block;
    padding: 1rem;
    font-weight: 600;
  }
  #popular .all-cities-btn a.btn {
    display: block;
  }
  #stateBlock ul.city-list {
    padding: 0 20px;
    column-count:2;
    column-gap: 10% 
    column-width:45%;
  }
  .signup-container {
    padding-top: 1rem;
  }
  .coming-soon-container {
    padding: 1.5rem;
  }
  .coming-soon-text-wrapper {
    border-left: 4px solid #3490dc;
    padding-left: 1rem;
    margin: .75rem 0 3rem;
  }
  .coming-soon-text-wrapper p {
    font-size: 1rem;
    font-style: italic;
  }
  .coming-soon-text-wrapper p:first-of-type {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: .25rem;
  }
  .notify-jumbotron {
    padding: 1rem;
  }
  .notify-jumbotron h5 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .notify-jumbotron p {
    font-style: italic;
    font-weight: 200;
  }
  .city-card-tile {
    margin: 0;
  }
  #city-faq h3 {
    font-size: 95%;
    text-transform: uppercase;
  }
  .pagination {
    padding-left: .75rem;
  }
  .pagination .page-item {
    margin-right: .25rem;
  }

  .pagination .page-item.active {
    margin: 0 .4rem;
  }

  .pagination .page-item.break {
    margin-right: 0;
    margin-left: -0.35rem;
  }
  .pagination .page-item.page-nav .page-link {
    padding: 0 .75rem .3rem;
  }
  .more-coming {
    padding-top: 2rem;
  }
  .more-coming h3 {
    padding-bottom: 2rem !important;
  }
  .more-coming a.btn {
    display: block;
    max-width: 88%;
    margin: 0 auto;
  }
  main.hidden-footer {
    /*margin-bottom: 100vh;*/
    margin-bottom:15vh;
  }

  footer .container {
    /*height: calc(100vh - 6rem);*/
    height:auto;
  }
}

@media (min-width: 500px) and (max-width: 520px) {
  .carousel-item p.display-4 {
    font-size: 3.75rem;
    font-weight: 500;
  }
  .carousel-item p.lead {
    font-size: 1.35rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 400px) and (max-width: 420px) {
  .carousel-item p.display-4 {
    font-size: 3rem;
    font-weight: 500;
  }
  .carousel-item p.lead {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
