:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.ldc-login-logo {
  display: block;
  position: relative;
  max-width: 77%;
  margin: 0 auto 2rem;
  border-radius: 10px;
}

.bg-image {
  background-image: url('https://source.unsplash.com/QrgRXH81DXk/1200x600');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 5px;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  height: auto;
  border-radius: 5px;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
  z-index:2;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
  z-index:2;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
  z-index:2;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
  z-index:2;
}

.form-label-group input::placeholder {
  color: transparent;
  z-index:2;
}

.form-label-group input:not(:placeholder-shown)~label {
  font-size: 11px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
